/Week2 - Explore and understand the latencies that data exchange format JSON brings in/PoC/node_modules
/Week3 - Explore and understand the latencies that that  data exchange formats XML and YAML brings in/PoC/node_modules
/Week4 - Findings from Latency Impact Analysis/PoC/node_modules
/Week5 - Optimise/PoC/node_modules
/Week6/node_modules
/Week6/large_data.yaml
/Week6/large_data.xml
/Week6/large_data.json
