/Week2 - Explore and understand the latencies that data exchange format JSON brings in/PoC/node_modules
/Week3 - Explore and understand the latencies that that  data exchange formats XML and YAML brings in/PoC/node_modules